<%= turbo_frame_tag dom_id(todo), class: "flex items-center space-x-3 bg-white py-3 px-4" do %>
  <div class="flex-shrink-0 flex items-center">
    <%= check_box_tag "todo_completed",
      todo.id,
      todo.completed?,
      class: "h-5 w-5 text-blue-600 rounded-lg focus:ring-blue-500 cursor-pointer",
      data: {
      controller: "todo-checkbox",
      action: "change->todo-checkbox#toggle",
      todo_id: todo.id
    } %>
  </div>
  <div class="flex-1 min-w-0">
    <%= tag.span(
      todo.title,
      class: class_names(
        "text-slate-700" => !todo.completed?,
        "line-through text-slate-400" => todo.completed?
      )) %>
  </div>
<% end %>
