<%= turbo_stream_from "todos" %>

<div class="mb-3">
  <%= render "form", todo: Todo.new %>
</div>

<div class="overflow-hidden divide-y divide-gray-200 rounded-lg shadow-sm" id="todos">
  <%= render @todos %>
</div>
